html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}


audio{display:inline-block}progress{vertical-align:baseline}

audio:not([controls]){display:none;height:0}[hidden],template{display:none}

a{background-color:transparent}a:active,a:hover{outline-width:0}


p{font-size:18px}
h1,h2,h3,h4,h5,h6,p{font-weight:400;margin:10px 0;line-height:1.6}
.hv-image{max-width:100%;height:auto}img{vertical-align:middle}a{color:inherit}

.hv-container:after,.hv-container:before{content:"";display:table;clear:both}
.hv-padding-450{padding-top:450px!important;padding-bottom:450px!important}
.hv-padding-top-64{padding-top:64px!important}.hv-padding-top-48{padding-top:64px!important}
.hv-padding-top-32{padding-top:32px!important}.hv-padding-top-24{padding-top:32px!important}

.hv-green,.hv-hover-green:hover{color:#9f9ec8!important;background-color:#9f9ec8!important}

.hv-center{text-align:center}
.hv-center{text-align:center!important}
.hv-xlarge{font-size:24px!important}





